<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${title}">Base html</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" th:href="@{/css/style.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

		<a class="navbar-brand" href="#">Smart Contact Manager</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		
			<ul class="navbar-nav ms-auto text-uppercase">

				<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home
				</a></li>
				<li class="nav-item"><a class="nav-link" >[[${user.name}]]</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="sidebar mt-2">
		<span th:onclick="toggleSideBar()" class="crossBtn">&times;</span>
		<a th:href="@{/user/index}" class="item"><i class="fa-solid fa-house"></i>   Home</a>
		<a th:href="@{/user/show-contacts}" class="item"><i class="fa-solid fa-address-card"></i>  	View Contacts</a>
		<a th:href="@{/user/add-contact}" href="#" class="item"><i class="fa-sharp fa-solid fa-id-badge"></i>  Add Contact</a>
		<a href="#" class="item"><i class="fa-solid fa-user"></i> Your Profile</a>
		<a href="#" class="item"><i class="fa-solid fa-gear"></i> Settings</a>
		<a th:href="@{/logout}" class="item"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
		<div class="divider"></div>
	</div>
	
	
	<div class="content mt-2">
	<i th:onclick="toggleSideBar()" class="fas fa-bars m-3"></i>
	<div th:if="${session.message}" class="container">
	<div class="alert text-center" th:classappend="${'alert-'+session.message.type}"  role="alert">
		[[${session.message.content}]]
	</div>
	<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
	</div>
	<div th:replace="${content}"></div>		
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/script.js}"></script>
</body>
</html>